.movie {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(40, 44, 52, 0.8);
    padding: 20px;
    width: 60%;
    margin-bottom: 100px;
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1em;
    background-color: grey;
    padding: 20px;
}

.title, .year {
    word-break: break-word;
    background-color: grey;
    color: white;
    border: none;
    text-align: start;
    font-size: calc(8px + 2vmin);
    width: 100%;
}

.movie-input {
    margin-bottom: 3px;
    border: 3px solid #dc3545;
}

.poster img{
    width: 25%;
    height: auto;
    min-width: 10em;
}

.overview {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: grey;
    padding: 20px;
    height: 100%;
    text-align: start;
}

.edit-container {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
}